global:
  # scrape_interval:     15s # By default, scrape targets every 15 seconds.
  # scrape_timeout is set to the global default (10s).
  external_labels:
    monitor: 'standalone-test'
    # envsubst should provide these
    origin_prometheus: $HOSTNAME
    standalone_test: $TEST_SCENARIO

scrape_configs:
  - job_name: 'monitoring-prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'monitoring-cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']

  - job_name: 'monitoring-fluent-bit'
    metrics_path: /api/v1/metrics/prometheus
    static_configs:
      - targets: ['fluent-bit:2020']

  # Use remote write for these
  # - job_name: 'fluent-bit'
  #   static_configs:
  #        - targets: ['host.docker.internal:2021']

  # - job_name: 'calyptia-lts'
  #   static_configs:
  #        - targets: ['host.docker.internal:2021']

  # No real support
  # - job_name: 'logstash'
  #   static_configs:
  #        - targets: ['host.docker.internal:9200']

  - job_name: 'vector'
    static_configs:
      - targets: ['host.docker.internal:9598']

  - job_name: 'process_exporter'
    static_configs:
      - targets: ['process-exporter:9256']

  - job_name: 'https-benchmark-server'
    scheme: https
    tls_config:
      insecure_skip_verify: true
    static_configs:
      - targets:
        - 'https-benchmark-server:8443'
